<!--  Basic -->
<google-recaptcha [siteKey]="siteKey" (errored)="onError($event)" (resolved)="resolved($event)" errorMode="handled"></google-recaptcha>
<!--form-->
<form #captchaProtectedForm="ngForm">
  <google-recaptcha [siteKey]="siteKey" [(ngModel)]="formModel.captcha" name="captcha" required #captchaControl="ngModel"></google-recaptcha>
  <div [hidden]="captchaControl.valid || captchaControl.pristine" class="error">Captcha must be solved</div>
  <div [hidden]="!captchaControl.valid" class="success">Captcha is valid</div>
  <div [hidden]="captchaProtectedForm.form.valid" class="error">The form must be filled out</div>
  <div [hidden]="!captchaProtectedForm.form.valid" class="success">The form is valid</div>
  <button (click)="formModel.captcha = ''">Reset Captcha</button>
</form>
<!--    invisible -->
<google-recaptcha #captchaRef="googleRecaptcha" [siteKey]="siteKey" (resolved)="resolved($event)" (errored)="onError($event)" errorMode="handled" size="invisible"></google-recaptcha>
<button (click)="captchaRef.execute()">Submit</button>
<button (click)="captchaRef.reset()">Reset</button>
<pre> reCAPTCHA response log:{{ captchaResponse || '(empty)' }}</pre>

